@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300&display=swap');

body{
    background-color: #dbe2e8;
}
*{
    margin: 0;
    padding: 0;
}
nav ul li{
    padding: 0 20px;
}
nav{
    font-family: 'Raleway', sans-serif;
}

nav ul{
    Display: flex;
    align-items: center;
    list-style-type: none;
    font-weight: bolder;
    height: 70px;
    background-color: black;
    color: #e7e6e2;
}
.Brand img{
    width: 105px;
}
.Brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.6rem;
}